$siteFont: 'Asap',sans-serif;
$bodyColor: #EFEFEF;
$selectionCardColor: #EFEFEF;
$hoverColor: #FF530D;
$cardFontColor: #000000;
$textBolder: 600;

* {
  box-sizing: border-box;
}
body{
  // background: $bodyColor;
  font-family: $siteFont;
  font-weight: 600;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.selector_nav{
  padding: 2em;
  background: #3F5765;
  display: flex;
  justify-content: space-between;
  .selector_nav-links{
    width:25%;
    display: flex;
    justify-content: space-between;
  }
  a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5em;
  }
}
.selection-card__section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7em;
  h1{
    margin: 2em 0;
  }
  button {
    width: 15em;
    height: 2.75em;
    background: #ff976e;
    color: white;
    font-size: 1em;
    border-radius: 10px;
    align-self: flex-end;
    &:hover{
      background: $hoverColor;
    }
    &:focus{
      background: $hoverColor;
    }
  }
  .selection-card__list {
    width: 100%;
    margin: 0 0 5em 0;
    h4{
      text-align: left;
    }
    .selection-card__flex{
      display: flex;
      justify-content: space-between;
      .selection-card {
        width: 15em;
        height: 15em;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: $selectionCardColor;
        color: $cardFontColor;
        box-shadow: 0px 3px 5px 0px rgba(153,153,153,1);
         &:hover{
           border: 2px solid $hoverColor;
         }
         &:focus{
          border: 2px solid $hoverColor;
        }
        .selection-card__img-box {
          width: 7em;
          height: 7em;
        }
      }
    }
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
